.container {
    margin-top: 110px;
}

.heading-home {
    text-align: center;
}

.btn-student {
    margin-left: 37%;

}

.btn-teacher {
    margin-left: 4%;
}

.studentimg {
    margin-left: 36%;
}

.teacherimg {
    margin-left: 2%;
}