<div class="container">
    <h2 class="heading-home" style="font-size:40px;">Choose your Profile :</h2>
    <br>
    <div>
        <img class="studentimg" src="https://icon-library.com/images/student-icon/student-icon-14.jpg" width="140"
            height="150">
        <img class="teacherimg" src="https://icon-library.com/images/teacher-icon-png/teacher-icon-png-16.jpg"
            width="140" height="150">

        <br>
        <div>
        
            <br>
            <a routerLink="/studentLogin" type="button" class="btn-student btn-dark btn-lg">STUDENT</a>
            <a routerLink="/teacherLogin" type="button" class="btn-teacher btn-dark btn-lg">TEACHER</a>
        
        
        </div>
    </div>
</div>